@charset "UTF-8";

/* Estilo para Dispositivos Apple */

@supports (-webkit-touch-callout: none) {
    section.imagem {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        transform: translateY(0);
        will-change: transform;
    }
}

/* Opcional: ajuste extra para iPhones/iPads */
@media screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    section.imagem {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        transform: translateY(0);
    }
}