@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'passion one', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgba(255, 192, 203, 0.219);
    font-family: var(--fonte1);
}

header {
    background-color: rgba(253, 100, 126, 0.884);
    background-position: center;
    color: black;
    text-align: center;
    box-shadow: 0px 0px 7px 0px black;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

span#menulist {
    background-color: rgba(255, 192, 203, 0.089);
    color: white;
    display: block;
    padding: 10px;
    cursor: pointer;
}

span#menulist:hover {
    background-color: rgba(250, 74, 103, 0.884);
    color: black;

}

header > menu {
    display: none;
}

header > menu > ul {
    list-style: none;
}

header > menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(250, 89, 116, 0.534);
    color: rgb(255, 255, 255);
    border-top: 2px solid rgba(255, 192, 203, 0.089);

}

menu > ul > li > a:hover {
    background-color: rgba(253, 74, 104, 0.37);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    text-align: center;
    margin: auto;
    width: 80vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    padding-bottom: 0px;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/anacapa.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

section#img03 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img04 {
    background-image: url(../imagens/anapo.jpg);
}

section#img05 {
    background-image: url(../imagens/anamar.jpg);
}

section#img06 {
    background-image: url(../imagens/anamacho.jpg);
}

section#img07 {
    background-image: url(../imagens/anapoe.jpg);
}

section#img08 {
    background-image: url(../imagens/anaf.jpg);
}

section#img09 {
    background-image: url(../imagens/anaa.jpg);
}

section#img010 {
    background-image: url(../imagens/anato.jpg);
}

section#img011 {
    background-image: url(../imagens/anali.jpg);
}

section#img012 {
    background-image: url(../imagens/anaan.jpg);
}

section#img013 {
    background-image: url(../imagens/aname.jpg);
}

section#img014 {
    background-image: url(../imagens/anama.jpg);
    background-position: top center;
}

section#img015 {
    background-image: url(../imagens/anagor.jpg);
}

section.link {
    background-color: white;
    background-position: center;
    padding: 0px;
}

section.link > p {
    font-size: 0.8em;
    padding: 7px;
    
}

section.link > p > a:hover {
    background-color: rgba(255, 192, 203, 0.685);
    color: aliceblue;
    font-size: 0.8em;
}

a#prev {
    display: block;
    color: rgba(116, 61, 79, 0.822);
    text-decoration: none;
}

a#next {
    display: block;
    color: rgba(116, 61, 79, 0.822);
    text-decoration: none;
}

footer {
    background-color: rgb(31, 5, 14);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 0.8em;
}